<html>
<head>
	<title>add</title>
	<style>
		body{
			background-image:url('1.jpg')
		}
	</style>
</head>
<body>
	
	<center>
	<h2 class="c1">Add a new Product</h2>
	<form action="/AddData" method="POST">
		<b><label>Product Id:</label></b>
		<b><input type="text" placeholder="Enter Product Id" name="Product_Id"></br>
		<br><br>
		<b><label>Product Category:</label></b>
		<b><input type="text" placeholder="Enter Category" name="Category"></b>
		<br><br>
		<b><label>Type of Product:</label></b>
		<b><input type="text" placeholder="Enter Type" name="Type"></b>
		<br><br>
		<b><label>Size:</label></b>
		<b><input type="text" placeholder="Enter Size" name="Size"></b>
		<br><br>
		<b><label>Stock:</label></b>
		<b><input type="text" placeholder="Enter Stock" name="Stock"></b>
		<br><br>
		<b><label>Price:</label></b>
		<b><input type="text" placeholder="Enter Price" name="Price"></b>
		<br><br><br><br>
		<button id="add">Add</button><br><br>
	</form>
	<a href="/" class="c2">Need Home Page ? click here</a>
	</center>
		

</body></html>
