<html>
<head>
<style>
		body{
			background-image:url('1.jpg')
		}
</style>
</head>
<body>
	<center>
	<h2 class="c1">Delete Product</h2>
	
	<form action="/delete" method="post">
	<b><label>Enter Product Id you want to delete:</label></b>
	<br><br><input type="text" placeholder="Enter Id" name="Product_Id"><br><br>
	<button id="delete">Delete</button>
	<form>
	<br><br>
	
	<a href="/" class ="c2">Need Home Page ? click here</a>
	</center>
</body>
</html>