<html>
<head>
<style>
		body{
			background-image:url('1.jpg')
		}
</style>
</head>
<body>
	<center>
	<h4 class="c1">Update Quantity of Product</h4>
	<form method="post" action="/update">
	<b><label>Product_Id:</label></b>
	<input type="number" placeholder="Enter Id:"name="Product_Id"><br>
	<br>
	<b><label>New Stock:</label></b>
	<input type="number" placeholder="Enter Quantity to be added to existing" name="Stock"><br>	
	<br>
	<button id="update">Update</button>
	</form>
	<a href="/" class="c2">Need Home Page ? click here</a>
	</center>
</body>
</html>
